/* DESKTOP ONLY */

@media screen and (min-width:1016px) {

    .indexh1:after {
        content: " on ALL platforms!";
    }
    .error404 {
        background-image: linear-gradient(#f6eef614, var(--white)), url("../images/manwithvrheadset.gif");
    }
    .home-start {
        background-image: linear-gradient(#f6eef614, var(--white)), url("../images/manwithvrheadset.gif");
    }
    .home-end {
        background-image: linear-gradient(var(--white), #f6eef614), url("../images/gameover.gif");
    }
    .sellingpoints-section-1 {
        background: linear-gradient(var(--white), #f6eef643), url(../images/womanpointing.gif);
    }
    .sellingpoints-section-2 {
        background: linear-gradient(#f6eef643, var(--white)), url(../images/maninfrontoftv.gif);
    }
    
}